{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@Components": "./src/components",
          "@Style": "./src/common/style"
        }
      }
    ]
  ]
}