{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module:react-native-dotenv",
      {
        "moduleName": "@env",
        "path": ".env",
        "blacklist": null,
        "whitelist": null,
        "safe": false,
        "allowUndefined": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@Config": "src/config",
          "@ContextAPI": "src/contextAPI",
          "@Components": "./src/components",
          "@Graphql": "./src/graphql",
          "@Hooks": "./src/hooks",
          "@Style": "./src/common/style",
          "@Utils": "./src/utils",
          "@Libs": "./src/libs",
          "@RenderingData": "./src/common/rendering-data"
        }
      }
    ]
  ]
}
